/* Color Palette 
https://paletton.com/#uid=b3k5a5B0kosnMeFvWjQr5rJjfxGd+
 */
body{
  font-family: 'Roboto Condensed', sans-serif;
}
 header{
   width: 100%;
   text-align: center;
   padding-top: 5%;
   padding-bottom: 5%;
 }
h1{
   font-size: 2rem;
   font-weight: 700;
   font-family: 'Audiowide', cursive;
 }
 h2{
   font-size: 1.4rem;
   font-weight: 700;
   padding-bottom: 5%;
 }
 h3{
   font-size: 1.3rem;
   font-weight: 700;
   font-family: 'Roboto Condensed', sans-serif;
 }
 

#main{
   width: 100%;
   text-align: center;
 }

 #main input{
  margin-bottom: 3%;
 }

 #terms-of-service{
   padding-top: 3%;
   margin: 5% auto;
   width: 65%;
   border: 1px solid black;
 }
 #terms-of-service ol{
  text-align: left;
  padding: 5%;
 }
 #terms-of-service li{
  text-align: left;
  padding-bottom: 5%;
  line-height: 1.2;
 }