body{
  height: 98vh;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  background-color: #1c6c73;
  border: solid 1vh #7B104D;
}
header{
  width: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
h1{
   font-size: 2rem;
   font-weight: 700;
   font-family: 'Audiowide', cursive, 'Courier New', monospace;
   color: #013E44;
   -webkit-text-stroke: 1px #AD427F;
}
h2{
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 5%;
}
h3{
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
}
#main{
   width: 100%;
   text-align: center;
}
#main input{
margin-bottom: 3%;
}
#main label{
  font-size: 1.1rem;
  color: #8CD2D8;
  font-weight: 500;
}
#terms-of-service{
  padding-top: 3%;
  margin: 5% auto;
  width: 65%;
  border: 2px solid #013E44;
  background-color: #55959B;
}
#terms-of-service ol{
  text-align: left;
  padding: 5%;
}
#terms-of-service li{
  text-align: left;
  padding-bottom: 5%;
  line-height: 1.2;
}
#main #submit{
  padding: .5rem;
  background-color:#8CD2D8;
  border: solid #013e44 2px;
  border-radius: 5px;
}
#main #submit:hover{
  background-color: #AD427F;
}

@media only screen and (min-width: 768px){
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  #main label{
    font-size: 1.3rem;
  }
  .label-input input{
    height: 1.6rem;
  }
  #terms-of-service li{
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px){
  header{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  #main input{
    margin-bottom: 1rem;
   }
  #main label{
    font-size: 1.3rem;
  }
  .label-input input{
    height: 1.6rem;
  }
  #terms-of-service{
    padding-top: 3rem;
    margin: 1rem auto;
    max-width: 600px;
  }
  #terms-of-service li{
    font-size: 1.3rem;
  }
}