/*
 modular scale : 1.667
*/
body{
  font-size: 16px;
  height: 98vh;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  background-color: #1c6c73;
  border: solid 1vh #7B104D;
}
header{
  width: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
h1{
   font-size: 2.779em;
   font-weight: 700;
   font-family: 'Audiowide', cursive, 'Courier New', monospace;
   color: #013E44;
   -webkit-text-stroke: 1px #AD427F;
}
h2{
  font-size: 1.667em;
  font-weight: 700;
  padding-top: 1%;
}
h3{
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
}
#main{
  width: 90%;
  margin: 1% auto;
  
}
#main .label-input input{
  display: block;
  width: 100%;
  margin: 2% auto;
}
#main .label-input label{
  display: block;
  float: left;
  font-size: 1.1rem;
  color: #8CD2D8;
  font-weight: 500;
}
#terms-of-service{
  text-align: center;
  padding-top: 3%;
  margin: 5% auto;
  width: 85%;
  border: 2px solid #013E44;
  background-color: #55959B;
}
#terms-of-service ol{
  text-align: left;
  padding: 5%;
}
#terms-of-service li{
  text-align: left;
  padding-bottom: 5%;
}
#main .checkbox label{
  text-align: center;
  display: inline;
  font-size: 1em;
  color: #8CD2D8;
  font-weight: 500;
}
#main .checkbox input{
  display: inline;
  height: 1em;
  margin: 2% auto;
}
#main .btn{
  text-align: center;
}
#main #submit{
  padding: .5rem;
  background-color:#8CD2D8;
  border: solid #013e44 2px;
  border-radius: 5px;
  margin-top: 2%;
}
#main #submit:hover{
  background-color: #AD427F;
}

@media only screen and (min-width: 768px){
  h1{
    font-size: 4.632em;
  }
  h2{
    font-size: 2.779em;
  }
  h3{
    font-size: 1.667em;
  }
  #main label{
    font-size: 1.667em;
  }
  .label-input input{
    height: 1.667em;
  }
  #terms-of-service li{
    font-size: 1em;
  }
  #main .checkbox {
    text-align: center;
    font-size: 1.667em;
  }
  #main .checkbox input{
    margin-left: 1%;
  }
}

@media only screen and (min-width: 1200px){
  header{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h1{
    font-size: 4.632em;
  }
  h2{
    font-size: 2.779em;
    padding-bottom: 1rem;
  }
  h3{
    font-size: 1.667em;
  }
  #main{
    width: 50%;
  }
   #main .label-input input{
    display: inline;
    min-width: none;
    width: 50%;
    margin: 0;
    height: 1.6rem;
  }
  #main .label-input label{
    font-size: 1.667em;
    display: inline;
    width: 20%;
    margin-left: 15%;
    
  }
  .label-input {
    align-content: center;
    margin-bottom: 1%;
  }
  #terms-of-service{
    padding-top: 3rem;
    margin: 1rem auto;
    max-width: 600px;
  }
  #terms-of-service li{
    font-size: 1.667em;
  }
}